[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=exportWeb
X-Python-2-Compatible=false
Name=Export file to web
Comment=Our very own plugin.